<div id="cast">
    <nav>
        {% include 'navigation.html' %}
    </nav>

    {% for index, list in page.data.cast %}
    
    <ul class="{{ list.name }}">
        
        {% for person in list.items %}

        <li class="person">
            <img data-src="{{ person.image }}" alt="{{ person.firstName }} {{ person.lastName }}">
            <div class="name">{{ person.firstName }} {{ person.lastName }}</div>
            <div class="nation">{{ person.nation }}</div>
            <div class="info">{{ person.info }}</div>
            <div class="video"></div>
        </li>
        
        {% endfor %}
    
    </ul>

    {% endfor %}

    <nav>
        {% include 'navigation.html' %}
    </nav>
</div>