//header, nav.horizontal {display: none;}
//--------------------------
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    line-height: 140%;
}
main {
    padding: 0 10px 10px;
    min-height: 240px;
    position: relative;
    &:not(.empty) {
        transition: height 1s, min-height 1s;
    }
}


body > footer {
    li {
        display: inline-block;
        width: 30%;
    }
}

body > .loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    width: 100%;
    left: 0;
    opacity: 0.5;
    .transition(opacity 0.3s);
    .spinner {margin: 0 auto;}
}
.app-ready > .loading-indicator {
    opacity: 0;
}
/*
Antialias/flickering problems in Webkit?
.content-page {
  -webkit-backface-visibility: hidden;
    -webkit-transition: translate3d(0,0,0);
}
*/
