
//header, nav.horizontal {display: none;}

//--------------------------

body, html {
    margin: 0;
    width: 100%;
    height:100%; 
    color: white;
    line-height: 140%;
}

body > nav {
    margin-bottom: 20px;
}

main {
    padding: 0 10px 10px;
}

a {
    cursor: pointer;
}
a, a:hover { 
    color: white; 
}
a img {
    border: none;
}

.container {
    width:100%;
    max-width: 980px;
    padding: 0;
}

ul, li {margin: 0; padding: 0} 

footer {
    .navbar-inverse;
    li {
        display: inline-block;
        width: 30%;
    }
}