<footer>
    <div class="container">
        <img alt="mindpirates" data-src="/media/images/skull.png" />
        <ul>
            <li>PROBLEMA is a Mindpirates production.
                <br/>
                <a target="_blank" href="http://www.mindpirates.org">www.mindpirates.org</a>
            </li>
            <li>Inspired by
                <img alt="droppingknowledge" data-src="/media/images/droppingknowledge.png" />
                <br/>
                <a target="_blank" href="http://www.droppingknowledge.org">www.droppingknowledge.org</a>
            </li>
            <li>contact:
                <br/>
                <a class="email">info at mindpirates.org</a>
                <br/>
                <a target="_blank" href="impressum.html" id="impressum-link">Impressum</a>
            </li>
        </ul>
    </div>
</footer>
