<nav>
    {% include 'navigation.html' %}
</nav>

{% for index, list in page.data.cast %}
<div class="{{ list.name }}">
    {% for person in list.items %}
    <div class="person">
        <img data-src="{{ person.image }}">
        <div class="name">{{ person.firstName }} {{ person.lastName }}</div>
        <div class="nation">{{ person.nation }}</div>
        <div class="info">{{ person.info }}</div>
        <div class="video"></div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<nav>
    {% include 'navigation.html' %}
</nav>