<div id="downloads">
    <p>
        Experiential art cinema that talks with you face to face, created not to be sold but distributed freely, PROBLEMA is available in multiple formats at different resolutions.
    </p>
    <br/>

    <h3>PROBLEMA - THE FILM</h3>

    <table>
        <tr class="dvd pal">
            <td class="col info">
                <div class="title">DVD PAL disc image (.iso)</div>
                <div class="details">4.4GB, 720x576, 25fps</div>
            </td>
            <td class="col torrent download">
                <!--<a href="/media/torrent/problema-dvd-pal-iso.torrent">Torrent download</a>-->
            </td>
            <!--<td class="col http download">
                                <a href="http://problema.ecobytes.net/problema-dvd-pal.iso">Download</a>
                              </td>-->
            <td class="col http download">
                <a href="/media/storage/problema_dvd_pal.iso">Download</a>
            </td>
        </tr>
        <tr class="dvd ntsc">
            <td class="col info">
                <div class="title">DVD NTSC disc image (.iso)</div>
                <div class="details">4.4GB, 720x480, 29.97fps</div>
            </td>
            <td class="col torrent download">
                <!--<a href="/media/torrent/problema-dvd-ntsc-iso.torrent">Torrent download</a>-->
            </td>
            <!--<td class="col http download">
                                <a href="http://problema.ecobytes.net/problema-dvd-ntsc.iso">Download</a>
                              </td>-->
            <td class="col http download">
                <a href="/media/storage/problema_dvd_ntsc.iso">Download</a>
            </td>
        </tr>
        <tr class="bd pal">
            <td class="col info">
                <div class="title">BluRay PAL disc image (.toast)</div>
                <div class="details">20.4GB, 1920x1080, 25fps</div>
            </td>
            <td class="col torrent download">
                &nbsp;
            </td>
            <td class="col http download">
                <a href="/media/storage/problema_bluray.toast">Download</a>
            </td>
        </tr>
        <tr class="720p">
            <td class="col info">
                <div class="title">720p video file (.mov)</div>
                <div class="details">3.3GB, H.264, 1280x720, 25fps</div>
            </td>
            <td class="col torrent download">
                <!--<a href="/media/torrent/problema-720p-mov.torrent">Torrent download</a>-->
            </td>
            <td class="col http download">
                <a href="http://problema.ecobytes.net/problema-720p.mov">Download</a>
                <a href="http://problemapush1.radicalmedia.netdna-cdn.com/problema/Problema_HD_Screener_1.mov" style="display:none">Mirror link</a>
            </td>
        </tr>
    </table>

    <br/>
    <h3>DVD Covers</h3>
    <table>
        <tr class="dvd cover">
            <td class="col info">
                <div class="title">Printable DVD cover and label</div>
                <div class="details">7.2MB ZIP archive, contains PDF files</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/zip/problema_dvd_covers.zip">Download</a>
            </td>
        </tr>
    </table>

    <br/>
    <h3>SUBTITLES</h3>
    <table>
        <tr class="subs arb">
            <td class="col info">
                <div class="title">Arabic</div>
                <div class="details">111.6kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_arabic.srt">Download</a>
            </td>
        </tr>
        <tr class="subs zh">
            <td class="col info">
                <div class="title">Chinese</div>
                <div class="details">91.9kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_chinese.srt">Download</a>
            </td>
        </tr>
        <tr class="subs eng">
            <td class="col info">
                <div class="title">English</div>
                <div class="details">95.6kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_english.srt">Download</a>
            </td>
        </tr>
        <tr class="subs eng-basic">
            <td class="col info">
                <div class="title">English (Basic)</div>
                <div class="details">21kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_english_basic.srt">Download</a>
            </td>
        </tr>
        <tr class="subs fr">
            <td class="col info">
                <div class="title">French</div>
                <div class="details">99.8kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_french.srt">Download</a>
            </td>
        </tr>
        <tr class="subs ger">
            <td class="col info">
                <div class="title">German</div>
                <div class="details">98kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_german.srt">Download</a>
            </td>
        </tr>
        <tr class="subs jap">
            <td class="col info">
                <div class="title">Japanese</div>
                <div class="details">110kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_japanese.srt">Download</a>
            </td>
        </tr>
        <tr class="subs por">
            <td class="col info">
                <div class="title">Portuguese</div>
                <div class="details">97.2kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_portuguese.srt">Download</a>
            </td>
        </tr>
        <tr class="subs por">
            <td class="col info">
                <div class="title">Russian</div>
                <div class="details">143kb (.srt)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/subtitles/problema_russian.srt">Download</a>
            </td>
        </tr>
        <tr class="subs zip">
            <td class="col info">
                <div class="title">All languages (ZIP archive)</div>
                <div class="details">288.9kb ZIP archive (contains .srt files)</div>
            </td>
            <td class="col torrent download">

            </td>
            <td class="col http download">
                <a href="/media/zip/problema_subtitles.zip">Download</a>
            </td>
        </tr>

    </table>

</div>
