<div id="press">

    <h3>A human dialogue around the world's largest table.</h3>

    <p>
        An unprecedented philosophical art cinema experience, PROBLEMA is a film that looks at you as you watch it, that speaks to you in a multilingual mantra made of the voices of over 100 people from all around the world. Distilled from over 1,000 hours of footage and embedded with imagery from our collective cultural memory, the film is a not-for-profit production to be shared freely with audiences worldwide. Concerning seventeen questions for <i>homo sapiens</i> (the 'wise human'), PROBLEMA asks you to <i>ask yourself...</i>
    </p>

    <ul class="images">
        {{#each images}}
        <li>
            <a href="/media/images/press/fullres/{{image}}">
                <img src="/media/images/press/thumbs/{{image}}" alt="{{alt}}" title="{{title}}" />
            </a>
        </li>
        {{/each}}
    </ul>

    <ul class="info">
        <li>TITLE: 'PROBLEMA'</li>
        <li>DURATION: 95 minutes</li>
        <li>LOCATION: Bebelplatz, Berlin, Germany</li>
        <li>LANGUAGES: English, Spanish, Portuguese, German, Serbo-Croatian, Russian, Danish, French, Arabic, Hebrew, Chinese, Japanese, Hindi, Bantu.</li>
        <li>EUROPEAN PREMIERE: Ars Electronica, Linz, Austria (September 2, 2010)</li>
        <li>NORTH AMERICAN PREMIERE: 46th International Chicago Film Festival (October 16, 2010)</li>
        <li>SOUTH AMERICAN PREMIERE: Mostra &mdash; São Paolo International Film Festival (October 24, 2010)</li>
        <li>WORLD RELEASE: December 6, 2010 @ www.problema-thefilm.org</li>
    </ul>

    <p>
        <strong>For all publicity inquiries, please contact:</strong>
        <br/>BUREAU N Silke Neumann, Moritz Estermann
        <br/>+49/30-3087-4085
        <br/>
        <a class="email">silke.neumann at bureau-n.de</a> | <a class="email">moritz.estermann at bureau-n.de</a>
    </p>

    <div class="quotes" style="display:none">
        <blockquote>
            "defies categorization… astoundingly edited… this visceral, mind-blowing film is required viewing."
            <cite>46th Chicago International Film Festival</cite> 
        </blockquote>
        <blockquote>
            "like a symphony of the world" 
            <cite>Ferdy on Films</cite>
        </blockquote>
        <blockquote>
            "a Babel of talking heads" 
            <cite>Chicago Sun-Times</cite> 
        </blockquote>
        <blockquote>
            "hugely moving... an event documentary that demands to be seen on the big screen... it is the best film I have seen so far this  year." 
            <cite>Cinefile.com </cite> 
        </blockquote>
        <blockquote>
            "one of the most thought-provoking and stimulating intellectual exercises ever recorded… a film that grabs the viewer in an emotional manner rarely seen in progressive cinema." 
            <cite>People's World </cite> 
        </blockquote>
    </div>


</div>
