<div id="shop">
                <div style="border-bottom:1px solid #333333;padding-bottom:30px;margin-bottom:30px">
                    <h3>PROBLEMA DVD</h3>
                    <p>
                        The Problema DVD is packaged in a high quality, custom made card and paper DVD case with high quality offset printing. It features collage graphics from the film poster and gold foil stamped cover and spine. Limited copies available!
                    </p>
                    <br/>
                    <img src="/media/images/shop-problema-dvd-cover.jpg" />
                    <br/>
                    <a href="/media/images/shop-problema-dvd-inside-large.jpg" class="fancybox">
                        <img src="/media/images/shop-problema-dvd-inside.jpg" />
                    </a>
                    <br/>
                    <br/>
                    <a href="http://tinypay.me/~dK8SJDy" target="_blank" class="tinypay">Purchase the PROBLEMA DVD</a>
                    <div>High quality offset print with gold stamp</div>
                </div>

                <div>
                    <h3>PROBLEMA POSTER</h3>
                    <p>
                        A three-weeks-in-the-making collage collaboration involving the printing, cutting, arranging (and rearranging) of over 350 images from the film. The PROBLEMA film poster is printed with extremely high standards featuring gold ink on quality paper. Limited copies available!
                    </p>
                    <img class="poster-image" src="/media/images/shop-poster.jpg" />
                    <br/>
                    <br/>
                    <a href="http://tinypay.me/~th0PtKx" target="_blank" class="tinypay">Purchase the PROBLEMA film poster in A1 (594 x 841mm)</a>
                    <div>Handstamped and handnumbered</div>
                    <br/>
                    <a href="http://tinypay.me/~3ujXhlq" target="_blank" class="tinypay">Purchase the PROBLEMA film poster in A0 (841 × 1189mm)</a>
                    <div>Handstamped and handnumbered</div>
                </div>
            </div>
