<div id="introduction">
    <h3>Who are we in the 21st Century?</h3>
    <p>
        A cinematic interpretation of the world's largest round table gathering, PROBLEMA is a visually imaginative, thought-provoking invitation to a world of global dilemmas. Spanning seventeen questions confronting who we are and where we're going, the film follows the insights, perceptions, reflections and views of over 100 people from more than 50 nations sat together in one circle.
    </p>
    <p>
        A not-for-profit production, PROBLEMA is freely available to <a href="/film" class="link-top-page">watch</a> and to <a href="/downloads" class="link-top-page">download</a> via this website. If you'd like to support the film, we encourage you to <a href="/screenings">host a screening</a>, to <a href="/guestbook">sign our guestbook</a> or to <a href="/donate">consider making a micro-donation</a> to help further its <a href="/cast">human connection</a>.
    </p>
    <p class="ethymology">
        <strong>'problema'</strong>from Latin
        <strong>problema</strong>(<i>genitive</i> 
        <strong>problematis</strong>) 'problem', 'puzzle', 'enigma', 'question proposed for solution', from Ancient Greek
        <strong>πρόβλημα</strong>(<i>problema</i>, 'obstacle'), from
        <strong>προβάλλω</strong>(<i>proballo</i>, 'to throw or lay something in front of someone', 'to put forward'), from prefix
        <strong>προ-</strong>(<i>pro-</i>, 'in front of') +
        <strong>βάλλω</strong>(<i>ballo</i>, 'to throw', 'to cast', 'to hurl').
    </p>
    <p style="overflow:hidden;margin-top:30px">
        <center>
            <img style="float:none" data-src="/media/images/award_Euro_Doc_Laurel_2011.png" alt="Laurel ÉCU2011">&nbsp;
            <img style="float:none" data-src="/media/images/award_Silent_River_2011.png" alt="Laurel Silent River 2011">
        </center>
    </p>
</div>