<div id="impressum">
    <div class="inner">
        <span class="close">close</span>
        <h2>Impressum</h2>
        <i>Angaben gemäß § 5 TMG</i> 
        <br>
        <br>
        <div class="title">Kontakt</div>
        Mindpirates
        <br>Schlesische Str. 38
        <br>Haus F, 3. HH
        <br>10997 Berlin
        <br>
        <br>
        <div class="title">Telefon</div>
        030 817 088 91
        <br>
        <br>
        <div class="title">E-Mail</div>
        <a class="email">info at mindpirates.org</a> 
        <br>
        <br>
        <div class="title">Umsatzsteuer-ID gemäß §27 a Umsatzsteuergesetz</div>
        DE196582852
        <br>
        <br>
        <div class="title">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</div>
        Ralf Schmerberg</div>
</div>