<div id="footer">
    <img alt="mindpirates logo" data-src="/media/images/skull.png" />
    <ul>
        <li>PROBLEMA is a Mindpirates production.
            <br/>
            <a target="_blank" href="http://www.mindpirates.org">www.mindpirates.org</a>
        </li>
        <li>Inspired by
            <img alt="droppingknowledge logo" data-src="/media/images/droppingknowledge.png" />
            <br/>
            <a target="_blank" href="http://www.droppingknowledge.org">www.droppingknowledge.org</a>
        </li>
        <li>contact:
            <br/>
            <a class="email">info at mindpirates.org</a>
            <br/>
            <a target="_blank" href="impressum.html" id="impressum-link">Impressum</a>
        </li>

    </ul>
</div>


<script type="text/javascript">
/*
  var l = window.location+'';
  if (l.indexOf('dev.')==-1) {
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18833272-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  }
  */
</script>
<script type="text/javascript" data-src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="scripts/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="scripts/vendor/bootstrap/dist/js/bootstrap.min.js"></script>