<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PROBLEMA the film</title>
    <meta name="viewport" content="width=980" />
    <meta name="title" content="PROBLEMA - Who are we in the 21st Century?" />
    <meta name="description" content="An unprecedented philosophical art cinema experience, PROBLEMA is a film that looks at you as you watch it, that speaks to you in a multilingual mantra made of the voices, insights, perceptions and reflections of over 100 people sat together at the world's largest round table." />
    <meta property="og:title" content="PROBLEMA - Who are we in the 21st Century?" />
    <meta property="og:type" content="movie" />
    <meta property="og:url" content="http://www.problema-thefilm.org" />
    <meta property="og:site_name" content="PROBLEMA the film" />
    <meta property="og:description" content="An unprecedented philosophical art cinema experience, PROBLEMA is a film that looks at you as you watch it, that speaks to you in a multilingual mantra made of the voices, insights, perceptions and reflections of over 100 people sat together at the world's largest round table." />

    <link rel="stylesheet" type="text/css" href="./styles">
</head>

<body>

    <nav class="dropdown">
        {% include "templates/navigation.html" %}
    </nav>

    <header>
        <div class="poster">
            <img class="background" src="images/problema-bg-960.jpg" alt="artwork" />
            <img class="logo" src="images/problema-branding.png" alt="PROBLEMA" />
            <a id="content-anchor"></a>
        </div>
    </header>

    <nav class="horizontal">
        {% include "templates/navigation.html" %}
    </nav>

    <main>
        <div class="container" id="content">
            {% block content %} {% endblock content %}
        </div>
    </main>


    {% include "templates/footer.html" %}

    <script type="text/javascript">
    /*
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18833272-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    */
    </script>

    <script src="./scripts/lib/require.js" data-main="./scripts/main"></script>

</body>

</html>