<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PROBLEMA the film</title>
    <meta name="viewport" content="width=980" />
    <meta name="title" content="PROBLEMA - Who are we in the 21st Century?" />
    <meta name="description" content="An unprecedented philosophical art cinema experience, PROBLEMA is a film that looks at you as you watch it, that speaks to you in a multilingual mantra made of the voices, insights, perceptions and reflections of over 100 people sat together at the world's largest round table." />
    <meta property="og:title" content="PROBLEMA - Who are we in the 21st Century?" />
    <meta property="og:type" content="movie" />
    <meta property="og:url" content="http://www.problema-thefilm.org" />
    <meta property="og:site_name" content="PROBLEMA the film" />
    <meta property="og:description" content="An unprecedented philosophical art cinema experience, PROBLEMA is a film that looks at you as you watch it, that speaks to you in a multilingual mantra made of the voices, insights, perceptions and reflections of over 100 people sat together at the world's largest round table." />
    <link rel="stylesheet" type="text/css" href="./styles">
</head>

<body>

    <nav class="dropdown">
        {% include "templates/navigation.html" %}
    </nav>

    <header>
        <div class="poster">
            <img class="background" data-src="/media/images/poster.jpg" alt="artwork" />
            <img class="logo" data-src="/media/images/logo.png" alt="PROBLEMA" />
            <a id="content-anchor"></a>
        </div>
    </header>

    <nav class="horizontal">
        {% include "templates/navigation.html" %}
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        {% include "templates/footer.html" %}
    </footer>

</body>

</html>
