<ul>
    <li>
        <span>EXPERIENCE</span>
        <ul>
            <li><a href="/film">THE FILM</a>
            </li>
            <li><a href="/trailer">THE TRAILER</a>
            </li>
            <li><a href="/downloads">DOWNLOADS</a>
            </li>
        </ul>
    </li>
    <li>
        <span>INFORMATION</span>
        <ul>
            <li><a href="/introduction">INTRODUCTION</a>
            </li>
            <li><a href="/questions">QUESTIONS</a>
            </li>
            <li><a href="/cast">CAST</a>
            </li>
            <li><a href="/archive">VISUALITY</a>
            </li>
            <li><a href="/filmmakers">CREDITS</a>
            </li>
            <li><a href="/background">BACKGROUND</a>
            </li>
        </ul>
    </li>
    <li>
        <span>PARTICIPATION</span>
        <ul>
            <li><a href="/screenings">SCREENINGS</a>
            </li>
            <li style="display:none"><a href="/translation">TRANSLATION</a>
            </li>
            <li><a href="/press">PRESS</a>
            </li>
            <li><a href="/guestbook">GUESTBOOK</a>
            </li>
            <li><a href="/shop">SHOP</a>
            </li>
            <li style="display:none"><a href="/poster">CREATE POSTER</a>
            </li>
            <li><a href="/donate">DONATE</a>
            </li>
        </ul>
    </li>
</ul>
