<ul>
    <li>
        <span>EXPERIENCE</span>
        <ul>
            <li><a href="page.php?page=film">THE FILM</a>
            </li>
            <li><a href="page.php?page=trailer">THE TRAILER</a>
            </li>
            <li><a href="page.php?page=downloads">DOWNLOADS</a>
            </li>
        </ul>
    </li>
    <li>
        <span>INFORMATION</span>
        <ul>
            <li><a href="page.php?page=introduction">INTRODUCTION</a>
            </li>
            <li><a href="page.php?page=questions">QUESTIONS</a>
            </li>
            <li><a href="page.php?page=cast">CAST</a>
            </li>
            <li><a href="page.php?page=archive">VISUALITY</a>
            </li>
            <li><a href="page.php?page=filmmakers">CREDITS</a>
            </li>
            <li><a href="page.php?page=background">BACKGROUND</a>
            </li>
        </ul>
    </li>
    <li>
        <span>PARTICIPATION</span>
        <ul>
            <li><a href="page.php?page=screenings">SCREENINGS</a>
            </li>
            <li style="display:none"><a href="page.php?page=translation">TRANSLATION</a>
            </li>
            <li><a href="page.php?page=press">PRESS</a>
            </li>
            <li><a href="page.php?page=guestbook">GUESTBOOK</a>
            </li>
            <li><a href="page.php?page=shop">SHOP</a>
            </li>
            <li style="display:none"><a href="page.php?page=poster">CREATE POSTER</a>
            </li>
            <li><a href="page.php?page=donate">DONATE</a>
            </li>
        </ul>
    </li>
</ul>
