<div class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">problema-thefilm</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">    
        <ul class="nav navbar-nav">
            <li class="dropdown"> 
                <a class="dropdown-toggle" data-toggle="dropdown">EXPERIENCE</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="?page=film">THE FILM</a></li>
                    <li><a href="?page=trailer">THE TRAILER</a></li>
                    <li><a href="?page=downloads">DOWNLOADS</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">INFORMATION</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="?page=introduction">INTRODUCTION</a></li>
                    <li><a href="?page=questions">QUESTIONS</a></li>
                    <li><a href="?page=cast">CAST</a></li>
                    <li><a href="?page=visuality">VISUALITY</a></li>
                    <li><a href="?page=credits">CREDITS</a></li>
                    <li><a href="?page=background">BACKGROUND</a></li>
                </ul>
            </li>
            <li class="dropdown"> 
                <a class="dropdown-toggle" data-toggle="dropdown">PARTICIPATION</a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="?page=press">PRESS</a></li>
                    <li><a href="?page=guestbook">GUESTBOOK</a></li>
                    <li><a href="?page=shop">SHOP</a></li>
                    <li><a href="?page=donate">DONATE</a></li>
                </ul>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>