<div id="guestbook">

    <ul id="guestbook-list">
    </ul>

    <form id="guestbook-form" method="post" action="/guestbook.html">
        <script type="text/javascript">
        var RecaptchaOptions = {
            theme: 'blackglass'
        };
        </script>
        <p>
            <label for="id_name">Name, Location:</label>
            <input type="text" name="name" id="id_name" />
        </p>
        <p>
            <label for="id_email">Email:</label>
            <input id="id_email" type="text" name="email" maxlength="100" />
        </p>
        <p>
            <label for="id_text">Text:</label>
            <textarea id="id_text" rows="10" cols="40" name="text"></textarea>
        </p>
        <input type="submit" class="rounded-btn submit" value="Submit" name="submit" />
        <input type="button" class="rounded-btn cancel" value="Cancel" name="cancel" />
        <div style='display:none'>
            <input type='hidden' name='csrfmiddlewaretoken' value='751ee3d4e1fd38113812a00828f6b699' />
        </div>
    </form>
    <div id="guestbook-toggle" class="rounded-btn">SIGN the Guestbook</div>



</div>